<div class="panel panel-primary">

    <div class="panel-heading" style="font-size:large">Device List</div>

    <div class="panel-body">
        <table class="table">
            <thead>
            <tr>
                <td>Device Id</td>
                <td>Device Name</td>
                <td>House Device Code</td>
                <td>Location</td>
                <td>Edit</td>
                <td>
                    <a class="btn btn-primary" ng-click="vm.toggleImage()">
                        {{vm.showImage ? "Hide" : "Show"}} Image
                    </a>
                </td>
            </tr>
            </thead>

            <tbody>
            <tr ng-repeat="device in vm.devices">
                <td>{{device.deviceId}}</td>
                <td>
                    <a ui-sref="deviceDetail({deviceId: device.deviceId})"> {{device.deviceName}}</a>
                </td>
                <td>{{device.deviceHouseCodeId}}{{device.deviceCodeId}}</td>
                <td>{{device.deviceLocation}}</td>
                <td>
                    <a class="btn btn-primary" ui-sref="deviceEdit.info({deviceId: device.deviceId})">
                        Edit
                    </a>
                </td>
                <td>
                    <image ng-if="vm.showImage" ng-src="{{device.deviceImagePath}}"  title="{{device.deviceName}}" />
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>